body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td { margin:0; padding:0; }
body { background:#fff; color:#555; font-size:14px; font-family: Verdana, Arial, Helvetica, sans-serif; }
td,th,caption { font-size:14px; }
h1, h2, h3, h4, h5, h6 { font-weight:normal; font-size:100%; }
address, caption, cite, code, dfn, em, strong, th, var { font-style:normal; font-weight:normal;}
a { color:#555; text-decoration:none; }
a:hover { text-decoration:underline; }
img { border:none; }
ol,ul,li { list-style:none; }
input, textarea, select, button { font:14px Verdana,Helvetica,Arial,sans-serif; }
table { border-collapse:collapse; }
html {overflow-y: scroll;} 

body{
    min-width: 1100px;
    background: white;
}

#header{
    position: relative;
    width: 100%;
}

.header-link{
    width: 100%;
    height: 55px;
    box-shadow: 0 2px 2px rgba(0,0,0,0.2);
    overflow: hidden;
}

.header-link img{
    padding-left: 58px;
    padding-right: 7px;
    vertical-align: middle;
}

.header-link h1{
    line-height: 56px;
    display: inline;
    font-size: 21px;
    color: #393a3a;
    font-weight: 200;
    font-family: "黑体";
}

.header-link ul{
    float: right;
    font-size: 14px;
}

.header-link li{
    width: 64px;
    height: 56px;
    line-height: 56px;
    display: inline-block;
    margin-left: 26px;
    text-align: center;
}

.header-link li a{
    display: block;
    background: url("../images/li-bottom.png"); 
    text-decoration:none;
}

.header-link li a.on,
.header-link li a:hover
{
    background-position:0 -4px;
}

.header-start{
    width: 100%;
    height: 689px;
    color: white;
    font-family: "microsft yahei";
    background-image: url("../images/header-start.png");
    background-size:cover;
}

.header-start div{
    padding-left: 125px;
    padding-top: 230px;
}

.header-start h1{
    font-size: 60px;
}

.header-start p{
    font-size: 21px;
    margin-top: 5px;
}

.header-start button{
    margin-top: 68px;
    width: 330px;
    height: 64px;
    font-size: 30px;
    color: white;
    background-color: #e74f4d;
    border: none;
}

.header-tips{
    height: 250px;
    overflow: hidden;
}

.header-tips div{
    width: 25%;
    float: left;
    display: inline-block;
    text-align: center;
}

.header-tips img{
    margin-top: 47px;
    margin-bottom: 47px;
}

.header-tips p{
    font-family: "mirosoft yahei";
    font-size: 14px;
    line-height: 18px;
    color: #767777;
    border-left: 2px #ccc solid;
}

.header-tips p:first{
    border: none;
}

.content-header{
    width: 100%;
    height: 360px;
    text-align: center;
    background-color: #edecec;
}

.content-header img{
    margin-top: 100px;
    margin-bottom: 50px;
}

.content-header h1{
    color: #999;
    font-size: 50px;
    font-family: "黑体";
}

.search-city{
    width: 100%;
    height: 340px;
    text-align: center;
    background: url("../images/search-city.png");
    background-size:cover;
}

.search-city h1{
    padding-top: 50px;
    font-size: 23px;
    color: white;
    font-family: "microsft yahei";
}

.search-city p{
    padding-top: 5px;
    font-size: 10px;
    color: white;
    font-family: "microsft yahei"; 
    opacity: 0.8;   
}

.search-city h1::after {
    content: "——";
    display: block;
}

.search-city form{
    margin-top: 35px;
}

.search-city .select1{
    width: 240px;
    height: 36px;
    overflow: hidden;
    display: inline-block;
}

.search-city .select2{
    width: 220px;
    height: 36px;
    overflow: hidden;
}

.search-city select{
    width: 240px;
    height: 36px;
    overflow: hidden;
}

.select1 option{
    width: 220px;
    font-size: 14px;
}

.search-city input{
    width: 240px;
    height: 36px;
    color: white;
    background-color: #e74f4d;
    border: none;
}

.activity{
    height: 604px;
    font-family: "microsoft yahei";
    text-align: center;
    background-color: #f8f8f8;
}

.activity div{
    margin-top: 60px;
    margin-right: 35px;
    display: inline-block;
}

.activity img{
    margin-top: 10px;
    border: 8px solid #fff;
    box-shadow: 2px 2px 2px grey;
}

.activity h1{
    margin-top: 10px;
    font-size: 24px;
    line-height: 30px;
}

.activity p{
    opacity: 0.8;
}

.new-world{
    height: 566px;
    width: 100%;
    overflow: hidden;
}

.nw-cover{
    height: 566px;
    width: 66%;
    float: left;
    background: url("../images/nw-cover.png");
    background-size:cover;
}

.nw-cover div{
    text-align: center;
    font-family: "黑体";
    color: white;
    padding-top: 132px;
}

.nw-cover h1{
    margin-top: -30px;
    font-family: "microsoft yahei";
    font-size: 158px;
}

.nw-cover h2{
    font-size: 50px;
}

.nw-cover p{
    font-size: 22px;
}

.nw-content{
    height: 566px;
    width: 33%;
    text-align: center;
    float: left;
}

.nw-content h1{
    padding-top: 164px;
    margin-bottom: 30px;
    font-size: 22px;
    color: black;
}

.nw-content h1>span{
    color: #e74f4d;
}

.nw-content p{
    line-height: 24px;
    font-size: 12px;
    opacity: 0.6;
}

.nw-content button{
    margin-top: 50px;
    width: 107px;
    height: 34px;
    font-size: 12px;
    background-color: white;
    border: 1px solid #e74f4d;
    color: #e74f4d;
}

.nw-content li{
    width: 10px;
    height: 10px;
    border: 1px solid #929293;
    display: inline-block;
    margin-top: 24px;
    border-radius: 50%;
}

.nw-content li:first-child{
    background-color: #929293;
}

.content-footer{
    height: 520px;
    width: 100%;
    color: #fff;
    text-align: center;
    overflow: hidden;
}

.content-footer h3:first-child{
    padding-top: 180px;
}

.content-footer h3{
    font-size: 21px;
    line-height: 25px;
}

.content-footer h6{
    font-weight: bolder;
}

.content-footer button{
    margin-top: 30px;
    width: 170px;
    height: 42px;
    background-color: transparent;
}

.cf-red{
    height: 520px;
    width: 33%;
    float: left;
    background-color: #e74f4d;
}

.cf-red button{
    color: #fff;
    border: 1px solid #fff;
}

.cf-white{
    height: 520px;
    width: 33%;
    color: #e74f4d;
    float: left;    
}

.cf-white button{
    color: #e74f4d;
    border: 1px solid #e74f4d;
}

.cf-image{
    position: relative;
    height: 520px;
    width: 33%;
    float: left;  
    background: url("../images/cf-image.png");
    background-size:cover; 
}

.cf-image::after{
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -11.5px;
    content: "";
    border-top: 14.5px rgba(255,255,255,0) solid;
    border-left: 23px #fff solid;
    border-bottom: 14.5px rgba(255,255,255,0) solid;
    border-right: none;
}

#sign-up{
    width: 100%;
    height: 750px;
    text-align: center;
    overflow: hidden;
}

.su-top{
    height: 250px;
}

.su-top h1{
    padding-top: 100px;
    font-size: 18px;
    color: #000;
} 

.su-top h1::after{
    color: #e74f4d;
    content: "——";
    display: block;
}

.su-top p{
    margin-top: 10px;
    font-size: 12px;
    opacity: 0.8;
}

.su-left{
    padding-top: 58px;
    margin-right: 76px;
    width: 288px;
    height: 400px;
    text-align: left;
    display: inline-block;
}

.su-left div{
    width: 288px;
    height: 130px;
    overflow: hidden;
}

.su-left div >h2{
    font-size: 14px;
}

.su-left div >p{
    margin-top: 20px;
    font-size: 12px;
    opacity: 0.8;
}

.su-left div >span{
    font-size: 12px;
    opacity: 0.8;
    float: right;
}

.su-right{
    width: 650px;
    padding-top: 58px;
    text-align: left;
    display: inline-block;
    overflow: hidden;
}

.su-right input[type="text"]{
    margin: 10px;
    padding: 10px;
    height: 40px;
    width: 297px;
    border: none;
    box-sizing: border-box;
    background-color: #e3e3e3;
    font-size: 14px;
}

.su-right textarea{
    margin: 10px;
    padding: 10px;
    width: 620px;
    height: 160px;
    font-size: 14px;
    color: #4E3A4F;
    box-sizing: border-box;
    border: none;
    background-color: #E3E3E3;
}

.su-right input[type="submit"]{
    margin: 10px;
    padding: 10px;
    width: 620px;
    height: 40px;
    font-size: 14px;
    box-sizing: border-box;
    color: #4e3a4f;
    background-color: #e3e3e3;
    border: none;
}

#connect{
    width: 100%;
    height: 360px;
    color: #fff;
    background-color: #33363F;
    text-align: center;
}

.cn-mes h1{
    padding-top: 80px;
    font-size: 18px;
}

.cn-mes p{
    margin-top: 10px;
    font-size: 14px;
}

.cn-text{
    margin-top: 30px;
    font-size: 14px;
}

.cn-text input[type="email"]{
    width: 500px;
    height: 40px;
    box-sizing: border-box;
    color: #75757f;
}

.cn-text input[type="submit"]{
    width: 100px;
    height: 40px;
    font-size: 16px;
    color: #fff;
    border: none;
    background-color: #75757f;
}

.cn-icon{
    margin-top: 30px;
    font-size: 30px;
}

.cn-icon i{
    width: 50px;
}

#footer{
    width: 100%;
    height: 55px;
    color: #fff;
    line-height: 55px;
    font-size: 10px;
    background-color: #30303a;
}

#footer span{
    padding-left: 80px;
}

#footer a{
    margin-left: 70%;
    color: #fff;
}

#content .options{
    height: 36px;
}
#content input[type="radio"]{
    width: 240px;
    height: 36px;
    margin: 0 10px;
    cursor: pointer;
    opacity: 0;
    position: relative;
    top: 47px;
    z-index: 10;
}
#content .options .select{
    width: 240px;
    height: 36px;
    margin: 0 10px;
    font-size: 14px;
    line-height: 36px;
    text-align: left;
    color: #B3B3B3;
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    border: 1px solid #C6B3AF;
    background: url("../images/icon-7.png") no-repeat 210px 8px,#fff;
    background-size: 20px;
}
#content .options .select:last-of-type{
    visibility: hidden;
}
#content .options .select span{
    margin-left: 10px;
}
#content .options .select .option{
    width: 240px;
    background-color: #E3E3E5;
    position: absolute;
    z-index: 10;
    display: none;
    left: -2px;
    top: 34px;
}
#content input[type="radio"]:nth-of-type(1):checked~.options .select,
#content input[type="radio"]:nth-of-type(2):checked~.options .select{
    top: -1px;
}
#content input[type="radio"]:nth-of-type(1):checked~.options .select-1{
    border: 2px solid #AE7271;
    border-bottom-width: 0;
}
#content input[type="radio"]:nth-of-type(1):checked~.options .select-1 .option{
    display: block;
}
#content input[type="radio"]:nth-of-type(2):checked~.options .select-2{
    border: 2px solid #AE7271;
    border-bottom-width: 0;
}
#content input[type="radio"]:nth-of-type(2):checked~.options .select-2 .option{
    display: block;
}
#content input[type="radio"]:nth-of-type(3):checked~.options .select-3{
    border: 1px solid #C6B3AF;
}
#content .options .select .option ul{
    margin: 0;
    padding: 0;
    width: 240px;
    box-sizing: border-box;
    border: 2px solid #AE7271;
    border-top-width: 0;
}
#content .options .select .option ul li{
    height: 32px;
    line-height: 32px;
    text-align: left;
    padding-left: 40px;
    list-style: none;
    cursor: pointer;
}
#content .options .select .option ul li:hover{
    background: url(../images/icon-8.png) no-repeat 10px 8px,#BF4E48;
    background-size: 20px;
    color: #fff;
}
#content input[type="submit"]{
    width: 240px;
    height: 36px;
    line-height: 36px;
    font-size: 16px;
    margin: 0 10px;
    border: 0;
    outline: 0;
    background-color: #BE4F48;
    color: #fff;
    letter-spacing: 30px;
    display: inline-block;
    cursor: pointer;
    position: relative;
    top: 36px;
    
    -webkit-transition: background-color 0.4s ease-in-out;
    -moz-transition: background-color 0.4s ease-in-out;
    transition: background-color 0.4s ease-in-out;
}
#content input[type="submit"]:hover{
    background-color: #E31212;
    border-radius: 3px;
}