/**
    初始化css
*/

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td { margin:0; padding:0; }
body { background:#fff; color:#555; font-size:14px; font-family: Verdana, Arial, Helvetica, sans-serif; }
td,th,caption { font-size:14px; }
h1, h2, h3, h4, h5, h6 { font-weight:normal; font-size:100%; }
address, caption, cite, code, dfn, em, strong, th, var { font-style:normal; font-weight:normal;}
a { color:#555; text-decoration:none; }
a:hover { text-decoration:underline; }
img { border:none; }
ol,ul,li { list-style:none; }
input, textarea, select, button { font:14px Verdana,Helvetica,Arial,sans-serif; }
table { border-collapse:collapse; }
html {overflow-y: scroll;} 

.main{
    border:1px solid #999;
    padding: 20px 20px;
    margin: 0 auto;
    height: 560px;
    width: 95%;
    background: #eee;
    overflow: hidden;

}

.main .left{
    padding: 20px 20px;
    border: 1px solid #999;
    width: 200px;
    background: white;
}

.main .content{
    position: absolute;
    top: 20px;
    left: 30px;
    right: 20px;
    border: 1px solid #999;
    margin: 0 150px 0 260px;
    max-width: 80%;
    height: 400px;
    background: white;
    font-size: 18px;
    overflow: hidden;
}

.main .right{
    position: absolute;
    top: 20px;
    right: 30px;
    border: 1px solid #999;
    height: 440px;
    width: 120px;
    background: white;
}

img{
    border: 1px solid #999;
    width: 80px;
    height: 80px;
}

 .main .right>ul li{
    margin-top: 20px; 
    text-align: center; 
} 


.team-name{
    float: right;
    padding: 20px 20px;
}









